@font-face {
  font-family: 'Bad Script';
  font-weight: 400;
  src: url('../fonts/bad-script-v16-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/bad-script-v16-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../fonts/open-sans-v29-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/open-sans-v29-latin_cyrillic-700.woff') format('woff');
}

*, 
*::before, 
*::after{
    box-sizing: border-box;
}

html, 
body {
    /* font-size: 62.5%; */
    font-family: 'Open Sans';
}
img{
    max-width: 100%;
    height: 100%;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, 
h2,
h3, 
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button, 
input {
    outline: none;
    border: none;
    cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  cursor: pointer;
}

.women {
  background: #FFF1F8;
}

.men {
  background: #EFF9FE;
}

.header {
  position: relative;
  padding: 23px 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
  z-index: 1;
}
.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button-change {
  width: 300px;
  height: 57px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 30px;
}
.women .header__button-change{
  background: #C300C7;
}
.men .header__button-change{
  background: #1178B2;
}
.header__button-change:last-child {
  margin-right: 0;
}
.header__button-gender {
  width: 57px;
  height: 57px;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: center;
}
.header__button-gender_men {
  background-image: url('../img/men.svg');
  margin-right: 20px;

}
.header__button-gender_women {
  background-image: url('../img/women.svg');
}

.men .header__button-gender_men {
  border-color: #1178B2;
}

.women .header__button-gender_women {
  border-color: #C300C7;
}
.card {
  flex-grow: 1;
  margin: 24px 0;
  display: flex;
  align-items: center;
}
.card__container {
  display: flex;
}
.card__wrapper {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
  font-size: 3px;
}
.card__text {
  position: absolute;
  font-size: max(3em, min(calc(100vw * 3 / 140), 6em));
  line-height: 1.6;
}

.women .card__text {
  font-family: "Bad Script";
}

.men .card__text {
  font-family: "Open Sans";
  font-weight: 700;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer__socials {
  display: flex;
  gap: 16px;
}

.men path {
  fill: #1178B2;
}

.women path {
  fill: #C300C7;
}

@media (max-width: 880px) {
  .container {
    padding: 0 10px;
  }
  .header__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .header__button-change {
    margin-right: 0;
    width: 220px;
    height: 45px;
    font-size: 14px;
  } 
  .header__button-gender {
    margin-right: 0;
    width: 40px;
    height: 40px;
    background-size: 30px;
  }
}

@media (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    gap: 10px;
  }
  .footer__info {
    order: 2
  }
}